.view {
    /*background: url("http://abregos.com/images/probrand1b.jpg?crc=498546489")no-repeat center center;*/
    background-size: cover;
    height: 100vh;
}

.logo {
    /*background-image: url('../assets/images/-2-logo_poster_.png')*/
}

.summary-legend {
    font-size: 14px;
}