<header>
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark elegant-color-dark scrolling-navbar intro-fixed-nav"
        [containerInside]="false">
        <logo>
            <a href="#" class="navbar-brand">
                <strong>
                    <span>PROFESSIONALS</span>
                    <span style="color: #FC4D34;">BOOK</span>
                </strong>
            </a>
        </logo>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active waves-light" mdbWavesEffect>
                    <a [routerLink]="['/home']" class="nav-link">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link">Link</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link">Profile</a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
</header>
<div class="main-content-wrapper">
    <router-outlet></router-outlet>
</div>
<footer class="footer-copyright elegant-color-dark text-center text-white">
    <div class="text-center mb-3 py-3 social-buttons">
        <a href="#" mat-mini-fab class="facebook dash-button">
            <i class="fa fa-facebook"> </i>
        </a>
        <a href="#" mat-mini-fab class="twitter dash-button">
            <i class="fa fa-twitter"> </i>
        </a>
        <a href="#" mat-mini-fab class="google-plus dash-button">
            <i class="fa fa-google-plus"> </i>
        </a>
        <a href="#" mat-mini-fab class="linkedin dash-button">
            <i class="fa fa-linkedin"> </i>
        </a>

    </div>
    <div>
        © 2018 Copyright
        <a class="text-white" href="https://www.professionalsbook.com">ProfessionalsBook.com</a>
    </div>
</footer>