<!-- Main -->   
<div class="view">
  <div class="full-bg-img">
      <div class="mask rgba-black-light flex-center">
          <div class="container text-center white-text">
              <div class="white-text text-center wow fadeInUp">
                    <a routerLink="/profile/1" class="btn btn-elegant waves-light" mdbWavesEffect>Ismael Abrego</a>
                    <br/>
                    <a routerLink="/profile/2" class="btn btn-elegant waves-light" mdbWavesEffect>Laura Rose</a>
                    <br/>
                    <a routerLink="/profile/3" class="btn btn-elegant waves-light" mdbWavesEffect>Carla Smith</a>
              </div>
          </div>
      </div>
  </div>
</div>

<button *ngIf="!isAuthenticated" (click)="login()"> Login </button>
    <button *ngIf="isAuthenticated" (click)="logout()"> Logout </button>